<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
  </head>
  <body>
    <!-- // header -->
    <nav
      class='navbar navbar-expand-lg bg-dark navbar-dark border-bottom mb-3 sticky-top'
    >
      <div class='container-fluid'>
        <a class='navbar-brand me-auto hoops-title' href='/'>Hoops</a>

        <div id='nav-button-box' class='bd-highlight me-3'>
          <i
            class='bi bi-key-fill nav-button'
            id='btn-login'
            data-bs-toggle='modal'
            data-bs-target='#loginModal'
            alt='로그인'
          ></i>
          <i
            class='bi bi-door-open-fill nav-button'
            id='btn-signup'
            data-bs-toggle='modal'
            data-bs-target='#signupModal'
            alt='회원가입'
          ></i>
        </div>

        <button
          class='navbar-toggler bd-highlight'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarNavAltMarkup'
          aria-controls='navbarNavAltMarkup'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <i class='bi bi-list'></i>
        </button>

        <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
          <div class='navbar-nav'>
            <a class='nav-link' href='/'>Home</a>
            <a class='nav-link' href='/atom'>Atoms</a>
            <a class='nav-link active' aria-current='page' href=''>Routine</a>
            <a class='nav-link' href='/todo'>To-do</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- // body -->
    <div class='container-fluid'>
      <div class='card mb-3'>
        <div class='card-body'>
          <div class='d-flex bd-highlight mb-2'>
            <h5 class='card-title me-auto'>Routains</h5>
            <i
              class='bi bi-plus routain-create-modal-show'
              data-bs-toggle='modal'
              data-bs-target='#routainModal'
              style='font-size: 24px'
            ></i>
          </div>

          <ul class='list-group list-group-flush routain-list'></ul>
        </div>
      </div>
    </div>

    <!-- Make Routain Modal -->
    <div
      class='modal fade'
      id='routainModal'
      tabindex='-1'
      aria-labelledby='routainModalLabel'
      aria-hidden='true'
    >
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='routainModalLabel'>Make Routain</h5>
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='modal'
              aria-label='Close'
            ></button>
          </div>
          <div class='modal-body'>
            <div class='mb-3'>
              <label for='routain-make-name' class='form-label'>Routain Name</label>
              <input
                id='routain-make-name'
                type='text'
                class='form-control routain-make-name'
                placeholder='Routain name here'
              />
            </div>
            <div class='mb-3'>
              <label class='form-label'>Select Atoms</label>
              <div class='card routain-no-atoms' style='display: none'>
                <div class='card-body'>
                  <p class='card-text'>아톰이 존재하지 않습니다.</p>
                </div>
              </div>
              <div class='routain-atom-list'></div>
            </div>
          </div>
          <div class='modal-footer'>
            <button
              type='button'
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >
              취소
            </button>
            <button type='button' class='btn btn-primary routain-save'>
              저장
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modify ROutain Modal -->
    <div
      class='modal fade'
      id='routainModifyModal'
      tabindex='-1'
      aria-labelledby='routainModifyModalLabel'
      aria-hidden='true'
    >
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='routainModifyModalLabel'>
              Modify Routain
            </h5>
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='modal'
              aria-label='Close'
            ></button>
          </div>
          <div class='modal-body'>
            <div class='mb-3'>
              <label for='routain-modify-name' class='form-label'>Routain Name</label>
              <input
                id='routain-modify-name'
                type='text'
                class='form-control routain-modify-name'
                placeholder='Routain name here'
              />
            </div>
            <div class='mb-3'>
              <label class='form-label'>Select Atoms</label>
              <div class='card routain-modify-no-atoms' style='display: none'>
                <div class='card-body'>
                  <p class='card-text'>아톰이 존재하지 않습니다.</p>
                </div>
              </div>
              <div class='routain-modify-atom-list'></div>
            </div>
          </div>
          <div class='modal-footer'>
            <button
              type='button'
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >
              취소
            </button>
            <button type='button' class='btn btn-primary routain-modify-save'>
              저장
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Login Modal -->
    <div
      class='modal fade'
      id='loginModal'
      tabindex='-1'
      aria-labelledby='loginModal'
      aria-hidden='true'
    >
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='loginModal'>Login</h5>
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='modal'
              aria-label='Close'
            ></button>
          </div>
          <div class='modal-body'>
            <div class='mb-3'>
              <label for='login-user-id' class='form-label'>ID</label>
              <input
                id='login-user-id'
                type='text'
                class='form-control'
                placeholder='ID'
              />
            </div>
            <div class='mb-3'>
              <label
                for='login-user-passcode'
                class='form-label'
              >Passcode</label>
              <input
                id='login-user-passcode'
                type='password'
                class='form-control'
                placeholder='●●●●●●●●●'
              />
            </div>
          </div>
          <div class='modal-footer'>
            <button
              type='button'
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >
              취소
            </button>
            <button id='btn-login' type='button' class='btn btn-primary'>
              로그인
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Sign-up Modal -->
    <div
      class='modal fade'
      id='signupModal'
      tabindex='-1'
      aria-labelledby='signupModal'
      aria-hidden='true'
    >
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='signupModal'>Sign-up</h5>
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='modal'
              aria-label='Close'
            ></button>
          </div>
          <div class='modal-body'>
            <div class='mb-3'>
              <label for='signup-user-id' class='form-label'>ID</label>
              <input
                id='signup-user-id'
                type='text'
                class='form-control'
                placeholder='ID'
              />
            </div>
            <div class='mb-3'>
              <label for='signup-user-name' class='form-label'>Name</label>
              <input
                id='signup-user-name'
                type='text'
                class='form-control'
                placeholder='Hong Gil Dong'
              />
            </div>
            <div class='mb-3'>
              <label
                for='signup-user-passcode'
                class='form-label'
              >Passcode</label>
              <input
                id='signup-user-passcode'
                type='password'
                class='form-control'
                placeholder='●●●●●●●●●'
              />
            </div>
            <div class='mb-3'>
              <label
                for='signup-user-passcode-confirm'
                class='form-label'
              >Passcode Confirm</label>
              <input
                id='signup-user-passcode-confirm'
                type='password'
                class='form-control'
                placeholder='●●●●●●●●●'
              />
            </div>
          </div>
          <div class='modal-footer'>
            <button
              type='button'
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >
              취소
            </button>
            <button id='btn-signup' type='button' class='btn btn-primary'>
              회원가입
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- 부트스트랩-->
  <link
    href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
    rel='stylesheet'
    integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3'
    crossorigin='anonymous'
  />

  <!-- 부트스트랩 아이콘 -->
  <link
    rel='stylesheet'
    href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css'
  />

  <!-- Custom style sheet -->
  <link rel='stylesheet' href='routain.css' />

  <!-- JQuery -->
  <script
    src='https://code.jquery.com/jquery-3.6.0.min.js'
    integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
    crossorigin='anonymous'
  ></script>

  <!-- 부트스트랩js -->
  <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
    crossorigin='anonymous'
  ></script>

  <script src='https://unpkg.com/axios/dist/axios.min.js'></script>

  <!-- 페이지 javascript -->
  <script src='routain.js'></script>
</html>